h1.title{margin:auto}
ul ul,ol ul,ul ul ul{margin:0 0 0 1em}
ul ul li,ol ul li,ul ul ul li{margin:0}
ul.lessmargin{margin:5px 0}
ul.lessmargin li{margin:0}
p.smaller{margin-top:5px}

.actions{color:#FFF;background:#666;opacity:.25;padding:0 10px;position:absolute;top:500px;left:-125px;border-radius:0 0 4px 4px;font-size:60%;-webkit-transform: rotate(-90deg);-moz-transform: rotate(-90deg);transform: rotate(-90deg) translate(200px);}
#cover{padding:0;background:#FFF;text-align:center}
#cover h4.university{background:#000 url("cuhk-logo-smaller.png") no-repeat 7px 7px;color:#FFF;margin:0;padding:0 40px;font-size:55%;text-transform:uppercase;text-align:left}
#cover h1.courseTitle{background:#F0AD00;color:#FFF;margin:0;font-size:130%;line-height:170%}
#cover h1.title{padding:40px;margin:120px 0}
#cover .instructor,#cover .dept,#cover .email{margin:0}
#cover #footer{font-size:50%;text-align:left;padding:25px}
#cover .copyright{float:right;color:#999}
.slides>article,.fitPageWidth,.clear{clear:both}
.slides>article>h1{font-size:42px;line-height:normal;letter-spacing:-1px}
.slides>article>h2{font-size:40px;line-height:normal;letter-spacing:inherit}
.slides>article>h3{font-size:38px;line-height:normal;letter-spacing:inherit}
.slides>article>p{font-size:25px;line-height:30px;letter-spacing:inherit}
section.demoHTML{clear:both;height:380px}
section.demoHTML>pre{float:left;width:60%;height:100%;overflow:auto;white-space:pre-wrap}
section.demoHTML>iframe{float:right;width:35%;height:100%;padding:5px;margin:40px 0}
section.demo0HTML{height:auto}
section.demo0HTML>pre,section.demo0HTML>iframe{margin:5px 0;height:33px;pading:2px;overflow:hidden}
section.demo1HTML{height:auto}
section.demo1HTML>pre,section.demo1HTML>iframe{margin:5px 0;height:53px;pading:2px;overflow:hidden}
section.demo2HTML{height:auto}
section.demo2HTML>pre,section.demo2HTML>iframe{margin:5px 0;height:90px;pading:2px;overflow:hidden}

section.demoHTML2{clear:both}
section.demoHTML2>pre{float:none;width:auto;height:auto;overflow:auto;white-space:pre-wrap}
section.demoHTML2>iframe{position:relative;width:400px;height:300px;margin:-320px 0;opacity:.2}
section.demoHTML2:hover>iframe{opacity:.75}

section.lessmargin,section.lessmargin>pre,section.lessmargin>iframe{margin:5px 0}
section.smaller{height:110px}
section.smaller>pre,section.smaller>iframe{margin:10px 0;overflow:hidden}
section.larger{height:530px;margin-top:-20px}



ul.denser,ul.denser li{margin:0 20px;padding:0}
.orange{color:#F0AD00}
.purple{color:#780099}
.pink{color:#F69}
.smaller{font-size:22px;line-height:normal}
pre.smaller{font-size:16px;line-height:normal}
pre.lessmargin,table.lessmargin{margin:5px 0}
img.bottomright{position:absolute;right:0;bottom:0}
img.fitwidth{width:99%}
